page-book-group {
  .book-detail-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 10px;
  }

  .book-cover {
    width: 64px;
    height: 64px;
  }

  .content{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
  }

  .book-title {
    font-weight: 900;
    color: chocolate;
  }

  .book-author {
    color: indianred;
    font-style: italic;
  }
}
